@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --primary: #8c52ff;
  --font: #4d4d4d;
  --light-bg: #f9f8fe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", serif;
}

/* NavBar */
.nav-bar {
  width: 100%;
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  position: fixed;
  background-color: white;
  z-index: 4;
  top: 0px;
  @media (max-width: 768px) {
    padding: 40px;
  }
  @media (max-width: 425px) {
    padding: 20px;
  }
}
.nav-bar .toggle-btn {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}
.nav-bar .toggle-btn span {
  width: 100%;
  height: 1.5px;
  background-color: var(--font);
  transition: 0.4s;
}

.nav-bar .nav-links {
  display: flex;
  gap: 28px;
  transition: 0.5s;
  @media (max-width: 768px) {
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: 0px;
    top: 95px;
    left: -100%;
    z-index: 2;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--light-bg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.nav-bar .nav-links {
  animation: slideIn 0.5s ease-out;
}

.nav-bar .nav-links a {
  text-decoration: none;
  color: var(--font);
}

.nav-bar .nav-links a {
  text-decoration: none;
  color: var(--font);
  transition: all 1s ease-in-out;
}

.nav-bar .nav-links a:hover {
  color: var(--primary);
}

.nav-bar .nav-links .active {
  color: var(--primary);
  font-weight: bold;
}

/* Body */
.body-wrapper {
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 95px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-wrapper {
  animation: fadeIn 1.5s ease-in-out;
}

.hero {
  width: 100%;
  padding: 0px 80px;
  margin-top: 20px;
  position: relative;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  gap: 80px;
  @media (max-width: 850px) {
    padding: 40px;
    margin-top: 0px;
  }
  @media (max-width: 768px) {
    padding: 40px;
  }
  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
  @media (max-width: 425px) {
    padding: 20px;
  }
}
.hero .hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  position: relative;
  gap: 40px;
  @media (max-width: 650px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero .hero-image {
  @media (max-width: 950px) {
    width: 300px;
  }
  @media (max-width: 768px) {
    width: 280px;
  }
}

.hero .bg-effect-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  @media (max-width: 900px) {
    display: none;
  }
}
.hero .bg-effect-2 {
  position: absolute;
  bottom: 100px;
  right: 0px;
  @media (max-width: 900px) {
    display: none;
  }
}

.hero .text-info {
  max-width: 500px;
}

.hero .text-info h1 {
  font-size: 60px;
  font-weight: lighter;
}

.hero .text-info h1 span {
  color: var(--primary);
  font-weight: bold;
}

.hero .text-info h1 {
  font-size: 60px;
  font-weight: lighter;
  @media (max-width: 950px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 36px;
  }
  @media (max-width: 425px) {
    font-size: 28px;
  }
}
.hero .text-info p {
  font-size: 16px;
  color: var(--font);
  margin: 20px 0px;
}

.hero .text-info .btn-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.heading {
  width: 100%;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    margin-top: 70px;
  }
  @media (max-width: 425px) {
    margin-top: 30px;
  }
}

.heading h1 {
  font-size: 65px;
  font-weight: 400;
  @media (max-width: 950px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 36px;
  }
  @media (max-width: 425px) {
    font-size: 28px;
  }
}

.heading h1 span {
  color: var(--primary);
  font-weight: bold;
}

.heading p {
  color: var(--font);
  font-size: 16px;
  text-align: center;
}

.portfolio {
  width: 100%;
  margin: 130px 0px;
  padding: 70px 80px;
  padding-top: 1px;
  background-color: var(--light-bg);
  @media (max-width: 768px) {
    padding: 70px 40px;
    margin-bottom: 70px;
  }
  @media (max-width: 425px) {
    padding: 20px;
    margin-bottom: 30px;
  }
}
.portfolio .portfolio-wrapper {
  display: flex;
  gap: 20px;
  @media (max-width: 720px) {
    flex-wrap: wrap;
  }
}

.portfolio .portfolio-box {
  width: calc(33.3% - 15);
  cursor: pointer;
  transition: all 0.3s;
  @media (max-width: 720px) {
    width: 100%;
  }
}
.portfolio .portfolio-box:hover {
  transform: scale(1.05);
}
.portfolio .portfolio-box .img-wrapper {
  width: 100%;
}

.portfolio .portfolio-box .img-wrapper img {
  width: 100%;
}

.portfolio .portfolio-box h4 {
  font-size: 20px;
  margin-bottom: 8px;
  color: var(--font);
  @media (max-width: 980px) {
    font-size: 16px;
  }
  @media (max-width: 720px) {
    font-size: 20px;
  }
  @media (max-width: 410px) {
    font-size: 16px;
  }
}

.portfolio .portfolio-box p {
  font-size: 16px;
  color: #6b6b6b;
  @media (max-width: 980px) {
    font-size: 14px;
  }
}

.about-us {
  width: 100%;
  margin-bottom: 130px;
  padding: 0px 80px;
  @media (max-width: 768px) {
    padding: 40px;
    margin-bottom: 70px;
  }
  @media (max-width: 425px) {
    padding: 20px;
    margin-bottom: 30px;
  }
}

.footer {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
}

.footer .p {
  font-size: 18px;
}

.top-banner {
  width: 100%;
  margin-bottom: 130px;
  padding: 0px 80px;
  @media (max-width: 768px) {
    padding: 40px;
    margin-bottom: 70px;
  }
  @media (max-width: 425px) {
    padding: 20px;
    margin-bottom: 30px;
  }
}

.top-banner-wrapper {
  background-color: var(--light-bg);
  padding: 50px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top-banner h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--font);
}
.top-banner p {
  color: #4d4d4d;
  text-align: center;
  padding: 0px 400px;
  @media (max-width: 1110px) {
    padding: 0px;
  }
}
